<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapping.CourseMapper">
  <resultMap id="BaseResultMap" type="com.example.entity.Course">
    <id column="course_id" jdbcType="VARCHAR" property="courseId" />
    <result column="course_name" jdbcType="VARCHAR" property="courseName" />
    <result column="course_introduce" jdbcType="VARCHAR" property="courseIntroduce" />
    <result column="course_time" jdbcType="VARCHAR" property="courseTime" />
    <result column="course_tid" jdbcType="VARCHAR" property="courseTid" />
    <result column="max_num" jdbcType="INTEGER" property="maxNum" />
    <result column="credit" jdbcType="VARCHAR" property="credit" />
    <result column="period" jdbcType="VARCHAR" property="period" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="course_img" jdbcType="VARCHAR" property="courseImg" />
    <result column="coursevideo" jdbcType="VARCHAR" property="coursevideo" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    course_id, course_name, course_introduce, course_time, course_tid, max_num, credit, 
    period, location, course_img, coursevideo
  </sql>
  <select id="selectByExample" parameterType="com.example.entity.CourseExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from course
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from course
    where course_id = #{courseId,jdbcType=VARCHAR}
  </select>
  <select id="selectByCourseTid" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from course
    where course_tid = #{courseTid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from course
    where course_id = #{courseId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.entity.CourseExample">
    delete from course
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.entity.Course">
    insert into course (course_id, course_name, course_introduce, 
      course_time, course_tid, max_num, 
      credit, period, location, 
      course_img, coursevideo)
    values (#{courseId,jdbcType=VARCHAR}, #{courseName,jdbcType=VARCHAR}, #{courseIntroduce,jdbcType=VARCHAR}, 
      #{courseTime,jdbcType=VARCHAR}, #{courseTid,jdbcType=VARCHAR}, #{maxNum,jdbcType=INTEGER}, 
      #{credit,jdbcType=VARCHAR}, #{period,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR}, 
      #{courseImg,jdbcType=VARCHAR}, #{coursevideo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.entity.Course">
    insert into course
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="courseId != null">
        course_id,
      </if>
      <if test="courseName != null">
        course_name,
      </if>
      <if test="courseIntroduce != null">
        course_introduce,
      </if>
      <if test="courseTime != null">
        course_time,
      </if>
      <if test="courseTid != null">
        course_tid,
      </if>
      <if test="maxNum != null">
        max_num,
      </if>
      <if test="credit != null">
        credit,
      </if>
      <if test="period != null">
        period,
      </if>
      <if test="location != null">
        location,
      </if>
      <if test="courseImg != null">
        course_img,
      </if>
      <if test="coursevideo != null">
        coursevideo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="courseId != null">
        #{courseId,jdbcType=VARCHAR},
      </if>
      <if test="courseName != null">
        #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="courseIntroduce != null">
        #{courseIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="courseTime != null">
        #{courseTime,jdbcType=VARCHAR},
      </if>
      <if test="courseTid != null">
        #{courseTid,jdbcType=VARCHAR},
      </if>
      <if test="maxNum != null">
        #{maxNum,jdbcType=INTEGER},
      </if>
      <if test="credit != null">
        #{credit,jdbcType=VARCHAR},
      </if>
      <if test="period != null">
        #{period,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="courseImg != null">
        #{courseImg,jdbcType=VARCHAR},
      </if>
      <if test="coursevideo != null">
        #{coursevideo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.entity.CourseExample" resultType="java.lang.Long">
    select count(*) from course
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update course
    <set>
      <if test="record.courseId != null">
        course_id = #{record.courseId,jdbcType=VARCHAR},
      </if>
      <if test="record.courseName != null">
        course_name = #{record.courseName,jdbcType=VARCHAR},
      </if>
      <if test="record.courseIntroduce != null">
        course_introduce = #{record.courseIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="record.courseTime != null">
        course_time = #{record.courseTime,jdbcType=VARCHAR},
      </if>
      <if test="record.courseTid != null">
        course_tid = #{record.courseTid,jdbcType=VARCHAR},
      </if>
      <if test="record.maxNum != null">
        max_num = #{record.maxNum,jdbcType=INTEGER},
      </if>
      <if test="record.credit != null">
        credit = #{record.credit,jdbcType=VARCHAR},
      </if>
      <if test="record.period != null">
        period = #{record.period,jdbcType=VARCHAR},
      </if>
      <if test="record.location != null">
        location = #{record.location,jdbcType=VARCHAR},
      </if>
      <if test="record.courseImg != null">
        course_img = #{record.courseImg,jdbcType=VARCHAR},
      </if>
      <if test="record.coursevideo != null">
        coursevideo = #{record.coursevideo,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update course
    set course_id = #{record.courseId,jdbcType=VARCHAR},
      course_name = #{record.courseName,jdbcType=VARCHAR},
      course_introduce = #{record.courseIntroduce,jdbcType=VARCHAR},
      course_time = #{record.courseTime,jdbcType=VARCHAR},
      course_tid = #{record.courseTid,jdbcType=VARCHAR},
      max_num = #{record.maxNum,jdbcType=INTEGER},
      credit = #{record.credit,jdbcType=VARCHAR},
      period = #{record.period,jdbcType=VARCHAR},
      location = #{record.location,jdbcType=VARCHAR},
      course_img = #{record.courseImg,jdbcType=VARCHAR},
      coursevideo = #{record.coursevideo,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.entity.Course">
    update course
    <set>
      <if test="courseName != null">
        course_name = #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="courseIntroduce != null">
        course_introduce = #{courseIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="courseTime != null">
        course_time = #{courseTime,jdbcType=VARCHAR},
      </if>
      <if test="courseTid != null">
        course_tid = #{courseTid,jdbcType=VARCHAR},
      </if>
      <if test="maxNum != null">
        max_num = #{maxNum,jdbcType=INTEGER},
      </if>
      <if test="credit != null">
        credit = #{credit,jdbcType=VARCHAR},
      </if>
      <if test="period != null">
        period = #{period,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="courseImg != null">
        course_img = #{courseImg,jdbcType=VARCHAR},
      </if>
      <if test="coursevideo != null">
        coursevideo = #{coursevideo,jdbcType=VARCHAR},
      </if>
    </set>
    where course_id = #{courseId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.entity.Course">
    update course
    set course_name = #{courseName,jdbcType=VARCHAR},
      course_introduce = #{courseIntroduce,jdbcType=VARCHAR},
      course_time = #{courseTime,jdbcType=VARCHAR},
      course_tid = #{courseTid,jdbcType=VARCHAR},
      max_num = #{maxNum,jdbcType=INTEGER},
      credit = #{credit,jdbcType=VARCHAR},
      period = #{period,jdbcType=VARCHAR},
      location = #{location,jdbcType=VARCHAR},
      course_img = #{courseImg,jdbcType=VARCHAR},
      coursevideo = #{coursevideo,jdbcType=VARCHAR}
    where course_id = #{courseId,jdbcType=VARCHAR}
  </update>
</mapper>